<h1>Dashboard</h1>

<%- include ("./partials/messages") %>


<form action="/users/archives" method="GET" id="archive-btn">
  <button type="submit">Go To Archives</button>
</form>

<form action="/users/logout" method="GET" id="logout-btn">
  <button type="submit">Logout</button>
</form>


<div id="create-div">
  <h3>Create a new Reminder</h3>

  <select name="template-select" id="template-select">
    <option selected>No Template</option>
  </select>

  <input type="text" placeholder="title (this is required)" id="title-in">
  <textArea placeholder="put your notes here" id="notes-in"></textArea>
  <input type="date" id="date-in">
  <input type="time" id="time-in">
  <button id="create-btn"> Create Reminder </button>  
  <button id="template-btn"> Create as Template </button>  
  <button id="delete-template-btn"> Delete Current Template </button>  
</div>

<div id="display-div">

  <div id="display-actions">
    <h3>Your Reminders</h3>
    <select name="Filter" id="filter-select">
      <option value="active" selected>Active Reminds</option>
      <option value="inactive" selected>Inactive Reminds</option>
      <option value="all">All Reminds</option>
      <option value="day">Today's Reminds</option>
      <option value="starred">Starred Reminds</option>
      <option value="unstarred">Unstarred Reminds</option>

    </select>  
  </div>
  <div id="reminders">
  </div>

</div>


<script src="/socket.io/socket.io.js"></script> 
<script src="/scripts/client/functions.js"></script>
<script src="/scripts/client/dashboard.js"></script>
