
#create-div{
  border:3px #24e32e solid;
}

#display-actions {
  border:3px orange solid;
  padding: 20px 0px;
}

#filter-select{
  margin-left: 30px;
}

#create-div input, #create-div textarea, #create-div button {
  display: block;
  width: 89%;
  margin: auto;
  margin-top: 20px;
} 

#create-div button{
  width: 60%;
  color: white;
}

#create-btn{
  background-color: green;
}

#template-btn {
  background-color: #fc7703;
}

#delete-template-btn{
  background-color: red;
}

#create-div textarea{
  min-height: 100px;
}

#create-div {
  text-align: center;
  padding: 3%;  
  width: 45%;
}

#display-div{
  position: absolute;
  text-align: center;
  top: 10%;
  left: 50%;
  width: 40%;
  
}

.reminder{
  border: white 1px solid;
  padding: 20px 20px;
  text-align: left;
  width: 70%;
  margin: 5% 15%;
}

.reminder h4 {
  color: orange;
}

.reminder input {
  height: 20px;
  width: 20px;
}

.reminder button {
  margin-left: 10%;
}

#archive-btn, #logout-btn{
  position: absolute;
  left: 80%;
  top: 2%;
}

#logout-btn{
  left: 90%;
}

.star {
  visibility:hidden;
  font-size:30px;
  float: right;
  
  cursor:pointer;
  color: yellow;
}
.star:before {
 content: "\2606";
 color: yellow;
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 color: yellow;
 position: absolute;
}